@use "constants/colors";
@use 'constants/functions';

$font-stack: Helvetica, sans-serif;
$primary-color: #8af;

body {
    font: 100% $font-stack;
    background: $primary-color;
    color: colors.$white;
}
p { 
    background: colors.$black;
    @include functions.transform(rotate(1deg));
}

%message-class {
    border: 2px solid colors.$black;
    padding: 10px;
    color: colors.$black;
}

.message {
    @extend %message-class;
}
.alert {
    @extend %message-class;
    background: colors.$yellow;
}
.error{
    @extend %message-class;
    background: lightcoral;
}
.success {
    @extend %message-class;
    background: colors.$green;
}